@import "tailwindcss";
/* @plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json"; */

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.item1 {
    background-color: red;
}

.item2{
    background-color: green;
}

.innerbox{
    background-color: aqua;

}


.folder{
      background-image: url('src/assets/folder.png');
     background-size: cover; /* Scales the image to cover the entire container */



}